* {
  margin: 0;
  padding: 0;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Navbar */

.Navbar {
  background-color: rgb(66, 187, 147);
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navbar_logo {
  text-decoration: none;
  color: black;
}
.Navbar_logo span {
  color: white;
}

.Navbar_logo, .Navbar_side {
  margin: 1.5rem 4rem;
}

.Navbar_side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signin, .signup {
  cursor: pointer;
  margin: 0 0.5rem;
  text-align: center;
  padding: 0 20px;
  padding-top: 10px;
  background-color: aqua;
  height: 2rem;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

/* Signup */
.Signup, .Signin {
  display: table;
  margin: 0 auto;
}

.Sign_form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Sign_container {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
}

.Sign_logo h1{
  font-size: 5rem;
  color: #04AA6D;
}

.Sign_logo span {
  font-size: 2rem;
  font-style: italic;
}

.Sign_btns button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Dashboard */

.Dashboard_Navbar {
  background-color: rgb(66, 187, 147);
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Dashboard_Navbar h1 {
  margin: auto 2rem;
}
.Dashboard_Navbar h1 span {
  color: #f1f1f1;
}

.Dashboard_Navbar_profile {
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  background-color: #ddd;
  margin: auto 5rem;
  text-align: center;
  border-radius: 20px;
  border: none;
}

.Dashboard_Navbar_profile p{
  margin: 10px auto;
  font-size: 20px;
}

.Dashboard_Navbar_profile:hover{
  background-color: rgb(229, 44, 44);
}

.Dashboard_Main {
  display: flex;
  flex-direction: row;
}

.Dashboard_Sidebar {
  background-color: #96eccc;
  position: absolute;
  top: 5rem;
  bottom: 0;
  width: 15rem;
  /* padding: 2rem;   */
}

.Dashboard_Sidebar div {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  cursor: pointer;
}
.Dashboard_Sidebar div:hover {
  cursor: pointer;
  background-color: #29d395;
}


.Dashboard_Sidebar div p, 
.Dashboard_Sidebar div i{
  font-size: 1.2rem;
  padding: 0 5px;
}

.Dashboard_Display {
  margin-left: 15rem;
}

/* Summary */
.Summary, .Friends {
  /* background-color: #04AA6D; */
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 15rem;
  right: 0;
}
.Summary_Section1, .Summary_Section2 {
  margin: 3rem;
  background-color: #04AA6D;
  padding: 2rem;
}

.Summary_Section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Summary_Section2 {
  padding: 3rem 15rem;
}

.Friends_content1, .Friends_content2 {
  margin: 3rem;
  background-color: #04AA6D;
  padding: 2rem;
}

.FriendsDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.FriendsDetail button {
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.addfriendbtn {
  background-color: #69cba7;
  color: white;
  margin: 2rem 3rem;
  cursor: pointer;
  width: 10rem;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropbtn {
  background-color: #69cba7;
  color: white;
  margin-top: 1rem;
  width: 30rem;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 30rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 20vh;
  overflow: scroll;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.Expense_Section1 {
  margin-top: 2rem;
}

.Expense_Section2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.addexpensebtn {
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #69cba7;
  color: white;
}